export openrc="${HOME}/MDEV-CompanyX-openrc.sh"
export host=host1.local
export image=corp:centos-7.6
export disk_size=20
export flavor=myflavor.medium
export subnet_name=10.100.100_app
export network_name=CompanyX_app
export ip=10.100.100.100
# export subnet_name_nfs=10.100.101_nfs
# export network_name_nfs=CompanyX_nfs
# export ip_nfs=10.100.101.100
